<ion-view>
  <ion-content>
    <ion-nav-bar class="bar-positive">
      <!-- <ion-nav-back-button ng-click="myGoBack()">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button> -->
    </ion-nav-bar>
      <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
          <div class="tabs">
              <a class="tab-item" href="#profile" ui-sref="profile" ui-sref-active="active">
                  <i class="icon ion-person"></i>
                  Profile
              </a>
              <a class="tab-item" href="#map" ui-sref="map" ui-sref-active="active">
                  <i class="icon ion-map"></i>
                  Map
              </a>
              <a class="tab-item" href="#routes" ui-sref="routes" ui-sref-active="active">
                  <i class="icon ion-ios-navigate"></i>
                  Routes
              </a>
              <a class="tab-item" href="#posters" ui-sref="posters" ui-sref-active="active">
                  <i class="icon ion-person-stalker"></i>
                  Posters
              </a>
          </div>
    </div>
 <ion-nav-view>
   <ion-content></ion-nav-view>
</ion-content>
</ion-view>
